//Asif css
$Login_bg : '#E5E5E5';

$Futura_500 : 'Futura Medium';
$Futura_700 : 'Futura Bold';
$LibreFranklin_300 : 'Libre Franklin Light';
$LibreFranklin_400 : 'Libre Franklin Regular';
$LibreFranklin_500 : 'Libre Franklin Medium';
$LibreFranklin_600 : 'Libre Franklin SemiBold';
$LibreFranklin_700 : 'Libre Franklin Bold';

$LibreFamily: 'Libre Franklin', sans-serif;

$fontsize_16: 16px;
$BodyTextColor: #1A1A1A;

//Ali VAriable


